@{
    ViewData["Title"] = "Administration: External Objects";
}

<!-- Info boxes -->
<div class="row">
    <div class="col-md-12">
        <div class="box full-border">
            <!-- /.box-header -->
            <div class="box-body">
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

@section Scripts{

}